body {
  padding-top: 0;
  background-color: #bbdad5;
}

@header_height = 100px;

#header-wrapper {
  display: block;
  height: @header_height;
  overflow: hidden;
  position: relative;
  min-width: 1000px;
  background: url('../images/site-BG.jpg') no-repeat center top #fff;
  z-index: 1;
  margin: 0;
  padding: 0;

  .page-header { text-align: center; }

  .mountains {
    position: absolute;
    padding: 0;
    top: 0;
    z-index: 2;
    display: block;
    height: @header_height;
    width: 100%;
    overflow: hidden;
    background: url('../images/mountains.png') no-repeat;

    &.left {
      left: -72%;
      right: auto;
      background-position: right bottom;
    }

    &.right {
      right: -72%;
      left: auto;
      background-position: left bottom;
    }
  }

  .clouds {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    padding: 0 200px;
    height: @header_height;
    width: 100%;
    overflow: hidden;
    background: url('../images/clouds.png') no-repeat;

    &.left {
      right: -6%;
      left: auto;
      background-position: left bottom;
    }

    &.right {
      left: -6%;
      right: auto;
      background-position: right bottom;
    }
  }
}

.horizon {
  background: url('../images/horizon.png') repeat-x top center;
  display: block;
  height: 33px;
  width: 100%;
  min-width: 1000px;
  position: relative;
  top: -30px;
  z-index: 10;
}

#menu-wrapper {
  background: url('../images/horizon.png') repeat-x center -33px;
  width: 100%;
  padding-top: 10px;

  .page-title {
    margin-top: 0;
    margin-left: 60px;
  }
}

#main-wrapper {
  position: relative;
  display: block;
  background: url('../images/section-BG.jpg') no-repeat center top;
  overflow: hidden;
  top: -30px;
  z-index: 1;
  margin: 0;
  padding: 0 0 3%;

  min-height: 390px;

  .main-container {
    position: relative;
    z-index: 100;
  }

  .nav-tabs {margin-bottom: 0;}
  .nav-tabs > li > a { background-color: #EEEEEE;}
  .nav-tabs > li > a.active { background-color: #F5F5F5; }
  .nav-tabs > li > a:hover { background-color: #FFF; }
}
